<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A Moderately Short PHP Tutorial</title>
    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://bdsl.matomo.cloud/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/bdsl.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
<div>
    <h1>A Moderately Short PHP Tutorial</h1>
    <div id="pages">
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.filename }}.html">{{ page.filename }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <article>
        {{ body | raw }}
    </article>

    <div id="byline">
        <em>
            Copyright Barney Laurance <br>
            Site generated from sources at {{ "now"|date("H:i", "Europe/London") }} London time on
            {{ "now"|date("D d M Y", "Europe/London")}}.
        </em>
    </div>

    <script src="js/scripts.js"></script>
</div>
</body>
</html>